/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243,242,239);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
#header{
    /* background-color: #fff; */
    font-family: 'Fleur De Leah', cursive;
    font-size: 63px;
    align-items: baseline;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
}

/* Body */
.container > label{
    margin-top: 8px;
    margin-bottom: 2px;
}
.container > input{
    margin-top: 2px;
    margin-bottom: 8px;
}
.container > button, div {
    margin-top: 8px;
    margin-bottom: 8px;
}
